* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.button_up {
    display: flex;
    justify-content: flex-end;
}

.button_up div{
    background-color: 	rgba(128,128,128,0.4);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
}

.freccia {
    font-size: 50px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

header{
    height: 3vh;
}

main{
    height: 89vh;
    padding: 20px 5px 10vh 5px;
}

/* parte centrale */


.card img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card div {
    position: absolute;
    bottom: 0;
    z-index: 99;
    background-color: 	rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}


.conteiner_users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 0;
}

.card{
    width: 17vw;
    height: 14.5vh;
    background-image: url(img/sfondo.jpg);
    background-size: cover;
    border-radius: 5px;
    position: relative;
}

#homer{
    background-image: url(img/sfondo2.jpg);
    border: 2px solid yellow;
    border-radius: 5px;
    background-size: cover;
}

.fa-microphone-slash {
color: red;
}

footer {
    height: 8vh;
    background-color: rgba(128,128,128,0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
}
 

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sinistra {
    width: 200px;
}
 #centro {
     width: 700px;
 }

.fa-microphone, .fa-video, .fa-user-plus, .fa-user-friends, .fa-chart-bar, .fa-comment-dots, .fa-record-vinyl, .fa-windows, .fa-ellipsis-h {
    font-size: 35px;
}

.fa-share-square {
    color: rgb(50, 191, 50);
    font-size: 35px;
}

.con_numerino{
    position: relative;
}

.numerino{
    position: absolute;
    top: 0;
    right: 5px;
}

#destra {
    color: red;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2.7vh;
}

